@model SGH2425_V3.Models.Solicitar

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Solicitar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Qtd_Prescrita" class="control-label"></label>
                <input asp-for="Qtd_Prescrita" class="form-control" />
                <span asp-validation-for="Qtd_Prescrita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posologia" class="control-label"></label>
                <input asp-for="Posologia" class="form-control" />
                <span asp-validation-for="Posologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicamentoId" class="control-label"></label>
                <select asp-for="MedicamentoId" class ="form-control" asp-items="ViewBag.MedicamentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrescricaoId" class="control-label"></label>
                <select asp-for="PrescricaoId" class ="form-control" asp-items="ViewBag.PrescricaoId"></select>
            </div>

        
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
